/* Global CSS */

@import url("https://use.typekit.net/qet5luu.css");

* {
  padding: 0;
  margin: 0;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
}

:root {
  --text: #151515;
  --bg: #f5f5f5;
  --bg2: #151515;
  --text1: #f5f5f5;
}

.dark {
  background-color: var(--bg2);
  color: var(--text1);
}

.light {
  background-color: var(--bg);
  color: var(--text);
}

/* Desktop CSS */

.theme-btn {
  display: block;
  position: absolute;
  top: 10em;
  left: -4em;
  z-index: 99;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: var(--bg);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2em;
  width: 6em;
  height: 4em;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  color: #151515;
  animation: btnSlide 500ms linear;
}

.theme-btn img {
  position: absolute;
  top: 0.5rem;
  width: 40%;
  color: var(--bg2);
}

@keyframes btnSlide {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 99;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  animation: desktopAppear 1s linear;
}

.Header_Logo {
  width: 10%;
  cursor: pointer;
  filter: drop-shadow( 1px 3px 10px rgba(0, 0, 0, .4));
  transition: transform 250ms ease;
}

.Header_Items {
  font-size: clamp(2rem, 4vw, 2rem);
  font-weight: 600;
}

.Header_Item {
  color: inherit;
  padding: 1em;
  text-decoration: none;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.Header_Logo:hover {
  transform: scale(1.05);
}

.Header_Item.active {
  color: #FB3640;
}

.Desktop-wrapper {
  overflow: hidden;
}

.Desktop-Title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 700;
  color: inherit;
  text-align: left;
  animation: desktopAppear 1s linear;
}

.Desktop-Title1 {
  display: flex;
  justify-content: center;
  font-size: clamp(3.2rem, 6vw, 3.2rem);
  font-weight: 700;
  color: inherit;
  text-align: left;
  animation: desktopAppear 1s linear;
}

.Desktop-Subtitle {
  font-size: clamp(1.3rem, 2vw, 1.3rem);
  font-weight: 400;
  color: inherit;
  text-align: left;
  animation: desktopAppear 1s linear;
}

.Home-Info {
  display: block;
  justify-content: left;
  position: absolute;
  top: 25em;
  left: 10em;
  z-index: 99;
  padding: 1em;
}

@keyframes desktopAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Desktop-Contact-Container {
  display: block;
  justify-content: center;
  position: relative;
  top: 0.3em;
  left: 43em;
  width: 10em;
  animation: desktopAppear 1s linear;
}

.desktop-contact-item {
  position: relative;
  float: left;
  text-align: left;
  font-size: clamp(2rem, 4vw, 2rem);
  color: inherit;
  text-decoration: none;
}

.desktop-contact-item:hover {
  text-decoration: underline;
}

/* Mobile CSS */
.mobile-contact-item {
  display: none;
}

.mobile-wrapper {
  display: none;
}

.mobile-theme-btn {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #151515;
    --bg: #f5f5f5;
    --bg2: #151515;
    --text1: #f5f5f5;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-wrapper {
    display: contents;
    animation: openAppear 1s linear;
  }

  .Header {
    display: none;
  }

  .theme-btn {
    display: none;
  }

  .Desktop-wrapper {
    display: none;
  }

  .desktop-contact-item {
    display: none;
  }

  .mobile-theme-btn {
    display: block;
    position: absolute;
    top: 0;
    left: -3em;
    z-index: 99;
    margin-top: 1rem;
    margin-left: 1rem;
    visibility: visible;
    background-color: var(--bg);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    width: 6em;
    height: 2em;
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    color: #151515;
    animation: btnSlide 500ms linear;
  }

  .mobile-theme-btn img {
    position: absolute;
    top: 0.15rem;
    width: 30%;
    color: var(--bg2);
  }

  @keyframes btnSlide {
    0% {
      opacity: 0;
      transform: translateX(-200%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50vh;
    height: 25vh;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 38rem;
    z-index: 99;
    overflow: hidden;
    animation-name: mobileSlide;
    animation-duration: 650ms;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }

  .mobile-btn {
    height: 7rem;
    width: 20rem;
  }

  .mobile-btn-etcs {
    position: absolute;
    top: 38rem;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 400;
    animation-name: mobileETC;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 5s;
    opacity: 0;
  }

  .mobile-Nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--bg);
    position: absolute;
    bottom: 6rem;
    max-width: 25rem;
    text-align: center;
    border-radius: 5rem;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
    animation: mobileNav 250ms linear;
  }

  .mobile-NavItems {
    max-height: 35vh;
  }

  .mobile-NavItem {
    position: relative;
    float: left;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 600;
  }

  .mobile-NavItem.light-theme {
    position: relative;
    float: left;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 600;
  }

  .mobile-NavItem.active {
    color: #FB3640;
  }

  @keyframes mobileNav {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: scale(1.05);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      overflow: hidden;
    }
  }

  @keyframes mobileSlide {
    0% {
      transform: translateY(200%);
      opacity: 0;
      filter: blur(100px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes mobileETC {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    25% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    80%, 90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(200%);
    }
  }

  .mobile-container {
    height: 35rem;
    overflow: hidden;
  }

  .mobile-content {
    position: absolute;
    top: 15rem;
    left: 6rem;
    text-align: center;
  }

  .mobile-content1 {
    position: absolute;
    top: 1rem;
    left: 9rem;
    text-align: center;
  }

  .mobile-content2 {
    position: absolute;
    top: 1rem;
    left: 6rem;
    text-align: center;
  }

  .mobile-content-title {
    font-size: clamp(2rem, 4vw, 2rem);
    animation: openAppear 250ms linear;
  }

  .mobile-content-subtitle {
    margin-top: 1vh;
    font-size: clamp(1.7rem, 2vw, 1.7rem);
    animation: openAppear 250ms linear;
  }

  .hr-home {
    animation: openAppear 500ms linear;
  }

  @keyframes openAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .mobile-about-me {
    position: absolute;
    top: 20rem;
    margin-top: 1rem;
    height: 20rem;
  }

  .mobile-about-p {
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    text-align: center;
    color: inherit;
    font-weight: 400;
    word-wrap: break-word;
    animation: openAppear 500ms linear;
  }

  .mobile-contact-container {
    display: block;
    position: relative;
    top: 15em;
    left: 2.7em;
    width: 10em;
    animation: openAppear 500ms linear;
  }

  .mobile-contact-item {
    position: relative;
    float: left;
    font-size: clamp(2rem, 4vw, 2rem);
    color: inherit;
    text-decoration: none;
  }

  .mobile-project-container {
    display: block;
    justify-content: center;
    margin-left: 3.5em;
    margin-top: 9vh;
    height: 30em;
    width: 25em;
    overflow: scroll;
    animation: openAppear 500ms linear;
  }

  .mobile-project {
    background-color: #FB3640;
    position: relative;
    float: left;
    height: 10em;
    width: 20em;
    margin: 5px auto;
  }
}
