@import url("https://use.typekit.net/qet5luu.css");

* {
  padding: 0;
  margin: 0;
  font-family: "articulat-cf", sans-serif;
  font-style: normal;
}

:root {
  --text: #151515;
  --bg: #f5f5f5;
  --bg2: #151515;
  --text1: #f5f5f5;
}

.dark {
  background-color: var(--bg2);
  color: var(--text1);
}

.light {
  background-color: var(--bg);
  color: var(--text);
}

.mobile-wrapper {
  visibility: hidden;
}

.mobile-theme-btn {
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #151515;
    --bg: #f5f5f5;
    --bg2: #151515;
    --text1: #f5f5f5;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-wrapper {
    visibility: visible;
    animation: openAppear 1s linear;
  }


  .Header {
    display: none;
  }

  .theme-btn {
    display: none;
  }

  .mobile-theme-btn {
    position: absolute;
    bottom: 15.5rem;
    z-index: 99;
    margin-top: 1rem;
    margin-left: 1rem;
    visibility: visible;
    background-color: var(--bg);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    width: 4em;
    height: 2em;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50vh;
    height: 25vh;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 38rem;
    z-index: 99;
    overflow: hidden;
    animation: mobileSlide 750ms linear;
  }

  .mobile-btn {
    height: 7rem;
    width: 20rem;
  }

  .mobile-Nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--bg);
    position: absolute;
    bottom: 6rem;
    max-width: 25rem;
    text-align: center;
    border-radius: 5rem;
    animation: mobileNav 250ms linear;
  }

  .mobile-NavItems {
    max-height: 35vh;
  }

  .mobile-NavItem {
    position: relative;
    float: left;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 600;
  }

  .mobile-NavItem.light-theme {
    position: relative;
    float: left;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 600;
  }

  @keyframes mobileNav {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: scale(1.05);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      overflow: hidden;
    }
  }

  @keyframes mobileSlide {
    0% {
      transform: translateY(200%);
      opacity: 0;
      filter: blur(100px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      filter: blur(0);
    }
  }

  .mobile-container {
    height: 35rem;
  }

  .mobile-content {
    position: absolute;
    top: 20rem;
    left: 6rem;
    text-align: center;
  }

  .mobile-content-title {
    font-size: clamp(2rem, 4vw, 2rem);
    animation: mobileSlide 800ms linear;
  }

  .mobile-content-subtitle {
    margin-top: 1vh;
    font-size: clamp(1.7rem, 2vw, 1.7rem);
    animation: mobileSlide 850ms linear;
  }

  @keyframes openAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
